/***** Hero component *****/
.hero {
  background-color: #d5dcd7;
  height: 100px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
